<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css')}}"
    />
  </head>
  <body>
    <header>
      <h1>My Todo List</h1>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li
        style="color: {% if category == 'success' %}green{% elif category == 'danger' %}red{% else %}black{% endif %}"
      >
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="input-container">
      <!-- <div  class="form"> -->
      <form action="{{ url_for('add') }}" method="post">
        {{ form.hidden_tag() }} {{ form.description( class="input-todo") }} {{
        form.submit(class="add-todo") }}
      </form>
      <!-- </div> -->
    </div>
    
    <!-- Todo List -->

    <h2>Todo List:</h2>
    
    <div class="todo-list-container">
    {% for todo in todos %}
    <div class="todo-item">
        <p>
          <!-- Checkbox -->
          <form action="{{ url_for('update_todo_status', todo_id=todo.id) }} " class="todo-form" method="post">
            <input
             type="checkbox" name="completed"
             {% if todo.completed %} checked {% endif %}
             onchange="this.form.submit()" />
           
     <span>{{ todo.description }}</span>
</form>

<!-- Delete -->
           <!-- <a href="/delete_todo/{{ todo.id }}"><input type="button" value="Delete" class="delete"></a> -->
          <form action="{{ url_for('delete_todo', todo_id=todo.id) }}" method="post" class="delete">
            <button type="submit" class="delete">&cross;</button>
          </form>
        </p> 
      </div>
    {% endfor %}

    </div>
  </body>
</html>
