<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li
        style="color: {% if category == 'success' %}green{% elif category == 'danger' %}red{% else %}black{% endif %}"
      >
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form action="/" method="post">
      {{ form.hidden_tag() }} {{ form.description(size=32) }} {{ form.submit()
      }}
    </form>
    <ul>
      {% for todo in todos %}
      <li>{{ todo.description }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
